{% set relPath = ".." if page.outputPath.split('/').length == 3 else "." %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ relPath }}/lib/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ relPath }}/dist/light.css" />
    <script src="{{ relPath }}/dist/webreplaygen.js"></script>
    <script>
        function clickTab(tabName){
            console.log("clicking tab: ", tabName);
            if(tabName === "all"){
                let x = document.querySelector('wrg-index').shadowRoot.querySelectorAll('.archive-list-item');
                for(let i =0;i<x.length;i++){
                    x[i].style.display = "block";
                }
                let count = document.querySelector('#current-archive-count');
                console.log(count);
                count.innerHTML = '';
            } else{
                let y = document.querySelector('wrg-index').shadowRoot.querySelectorAll('.archive-list-item');
                for(let i =0;i<y.length;i++){
                    y[i].style.display = "none";
                }
                let x = document.querySelector('wrg-index').shadowRoot.querySelectorAll("." + tabName);
                for(let i =0;i<x.length;i++){
                    x[i].style.display = "block";
                }
                let count = document.querySelector('#current-archive-count');
                console.log(count);
                count.innerHTML = x.length + " of ";
            }
        }
    </script>
  </head>
  <body>
    {% include "header.njk" %}
    {{ content | safe }}
  </body>
</html>
